# rules: https://github.com/nicklockwood/SwiftFormat/blob/main/Rules.md

--swiftversion 6
--maxwidth 120
--nowrapoperators .,==,!=,<,>,>=,<=
--wrapternary before-operators
--disable andOperator
--disable wrapConditionalBodies
--disable wrapLoopBodies
--disable wrapMultilineStatementBraces